


*{
    margin: 0 auto;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/*ENCABEZADO */
#encabezado{
    display: flex;
    margin: 13px 0 ;    
}
 #encabezado #menu{
    display: flex;
 }
#menu{
    width: 27%;
    list-style: none;
}
#menu li a{
    color: rgb(155, 153, 153);
}
#btnmenu{

    padding: 13px 25px;
    background-color:rgb(0, 194, 194);
    border: none;
    color: azure;
    font-weight:700;
}
#menu li a:hover{
  color: rgb(65, 64, 64);
}
#btnmenu:hover{
    background-color: rgb(118, 247, 247);
}

/* INICIO CENTRO */
#cabsup{
    background-color:rgb(250, 250, 250);
    padding: 150px 0;
    background-image: url(/images/image-mockups.png),url(/images/bg-intro-desktop.svg);
    
    background-repeat: no-repeat;
    background-position: 700px -150px,495px -250px;

    
}
#cabsup #texto h1{
    color: rgb(24, 53, 58);
   font-size: 55px;
   font-weight: 100px;
   
   
}
#cabsup #texto p{
    color: rgb(120, 120, 120);
    margin: 30px 0;

}
#cabsup #texto{
    margin-left: 150px;
}
#btncontent{

    padding: 13px 25px;
    background-color:rgb(0, 194, 194);
    border: none;
    color: azure;

}
#btncontent:hover{
    background-color: rgb(118, 247, 247);
}
#content #centro{
    background-image:url(/images/image-mockups.png);
    background-repeat: no-repeat;
    background-position: 700px -750px;
    background-color:rgb(245, 245, 245);
    padding: 90px 150px ;
}
#superior h1{
    color: rgb(24, 53, 58);
    font-weight: 100;
}
#superior p{
    color: rgb(120, 120, 120);
    margin: 30px 0;
   
   
}
#centro #cent{
    display: flex;
}
#cent #text h2{
    color: rgb(24, 53, 58);
    margin: 30px 0;
}
#cent #text p{
    color: rgb(120, 120, 120);
    margin-right: 40px;
    width: 199px;
}
#content #bajo{
    background-color:rgb(250, 250, 250);
    padding: 90px 150px;
}
#bajo h1{
    color: rgb(24, 53, 58);
    font-weight: 100;
    margin-bottom: 55px;
}
#bajo #infe{
    display: flex;
}
#infe .card{
    margin-right: 30px;
    background-color: white;
    width: 50%;

}
.card #img img {
    width: 100%;

}
#tx #pr{
    margin: 20px ;
    color: rgb(120, 120, 120);
    font-size: 10px;
}
#tx h3 a{
    
    color: rgb(107, 106, 106);
    font-weight: 100;

}
#tx h3 a:hover{
    color:rgb(0, 194, 194) ;
}
#tx h3{
    margin: 0 20px;
}
#tx p{
    margin: 20px ;
    color: rgb(120, 120, 120);
    font-size: 14px;
}
#container footer{
    background-color: #2D314E;
}
/* INICIO FOOTER */
footer{
    display: flex;
}
footer #izquierda{
    margin: 40px 150px;
    color: #d0cccc;
}
#izquierda #logo{
    margin-bottom: 50px;
    
}
footer #mitad1{
    margin: 40px 62px;

    
}
#mitad1 li a {

    line-height: 35px;
    color: rgb(172, 172, 172);
}
footer #mitad2{
    margin: 40px 90px;

}
#mitad2 li a {

    line-height: 35px;
    color: rgb(172, 172, 172);
}
footer #derecha{
    margin: 40px 50px 40px 200px;
}
#derecha button{

    padding: 10px 40px;
    background-color:rgb(0, 194, 194);
    color: azure;
    font-size: 12px;
    margin-bottom: 30px;
}
#derecha button:hover{
    background-color: rgb(118, 247, 247);
}

#derecha p{
    color: #d0cccc;
    font-size: 12px;
}

#hamburger,#close{
    display: none;
}


/* RESPONSIVE */
@media (max-width:480px){
  
    #hamburger,#close{
        display: block;
        position: absolute;
        top: 30px;
        right: 10px;
    }
    #close{
        display: block;
        z-index: 10;
    }

    #btnmenu{
        display: none;

    }

    #menu{
        display: none;
        background-color: #d0cccc;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 60px 0 ;
        width: 60%;
    }

    #menu li{
        margin: 25px auto;
    }

    #content{
       flex-direction: column; 
    }

    #cabsup #textos{
        margin: 0 auto ;
        width: 90%;
        margin-bottom: 70px;
        margin-top: 800px;
        box-sizing: border-box;
    }
    /* #infe .card{
        flex-direction: column;
    } */
    #centro #cent{
        flex-direction: column;
    }
    #container footer{
     
        flex-direction: column;
    }

    #bajo #infe{
        flex-direction: column;
    }
}
 